<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<title>Meadowlark Travel</title>
    {{{_sections.head}}}
</head>
<body>
<header><img class="logo" src="/images/logo.jpg" alt="Meadowlark Travel Logo"></header>
{{{body}}}
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
{{{_sections.jquery}}}
</body>
</html>