<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<title>Meadowlark Travel</title>
</head>
<body>
<header><img class="logo" src="/images/logo.jpg" alt="Meadowlark Travel Logo"></header>
{{{body}}}
</body>
</html>